{{!-- set up this file to have the template that handlebars can render on to--}}
{{!-- create a button that will submit the user input to the database --}}
<div class="jumbotron">
    <img class="burger-img" src="../public/assets/img/burger.png" alt="Burger Icon">
  <h1 class="display-4">I Love Burgers!</h1>
   <p>This is a simple application to help you keep track of what burgers you've eaten.</p>
</div>

<h2>Burgers I can't wait to eat!</h2>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
				<form class="new-burg">
					<input role="textbox" value="{{burger_name}}">
					<button type="submit" class="btn btn-light">Devour it!</button>
				</form>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers I already ate!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <p>{{burger_name}}</p>>
      <input role="textbox" value="{{burger_name}}">
    {{/if}}
  {{/each}}
</ul>

{{!-- 
<h2>Add a Burger</h2>
<form class="create-form">
  <div class="form-group">
    <label for="burg"></label>
    <input type="text" id="burg" name="burger-name">
  </div>
  <button type="submit">Add burger</button>

</form> --}}


<div class="container">
  <div class="row"></div>
    <form action="/add" method="POST">
      <div class="form-group input-form">
        <input type="text" class="form-control" name="burger-input" value="" id="user-input" placeholder="Enter a burger you'd like to eat!">
        <button type="submit" class="btn btn-light">Submit</button>
      </div>
    </form>
  </div>
</div>