<div class="container">
  <div class="jumbotron">
    <img class="burger-img" src="../public/assets/img/burger.png" alt="Burger Icon">
  <h1 class="display-4">I Love Burgers!</h1>
   <p>This is a simple application to help you keep track of what burgers you've eaten.</p>
</div>


<div class="col-md-6 text-center">
  <div class="row">
    <h2>Burgers I can't wait to eat!</h2>
<ul>
  {{#each burgers}}
    {{#unless devoured}}
				<form class="new-burg">
					<input role="textbox" id="user-input" value="{{burger_name}}">
					<button type="submit" class="btn btn-light">Devour it!</button>
				</form><br>
    {{/unless}}
  {{/each}}
</ul>
 </div>
</div>


<div class="col-md-6 text-center">
  <div class="row">
    <h2>Burgers I already ate!</h2>
<ul>
  {{#each burgers}}
    {{#if devoured}}
      <p>{{burger_name}}</p>>
      <input role="textbox" value="{{burger_name}}">
    {{/if}}
  {{/each}}
</ul>
 </div>
</div>
</div>


<div class="container">
  <div class="row"></div>
    <form action="/add" method="POST">
      <div class="form-group input-form">
        <input type="text" class="form-control" name="burger-input" value="" id="user-input" placeholder="Enter a burger you'd like to eat!">
        <button type="submit" class="btn btn-light">Submit</button>
      </div>
    </form>
  </div>
</div>