<div class="container">
  <div class="row"></div>
  <div class="jumbotron">
    <img src="/assets/img/burger.png" alt="Burger Icon">
  <h1 class="display-4">I Love Burgers!</h1>
   <p>This is a simple application to help you keep track of what burgers you've eaten.</p>
</div>
</div>

<div class="row">
  <div class="col-md-1 text-center"></div>
<div class="col-md-5 text-center">
  <div class="row">
    <h2>Burgers I can't wait to eat!</h2>
<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
				<form class="new-burg">
					<input role="textbox" id="user-input" value="{{this.burger_name}}">
					<button type="submit" class="btn btn-light">Devour it!</button>
				</form><br>
    {{/unless}}
  {{/each}}
</ul>
 </div>
</div>


<div class="col-md-5 text-center">
  <div class="row">
    <h2>Burgers I already ate!</h2>
<ul>
  {{#each burgers}}
    {{#if this.devoured}}
      <form class="new-burg-update">
					<input role="textbox" id="" placeholder="{{this.burger_name}}">
			</form><br>
    {{/if}}
  {{/each}}
</ul>
 </div>
</div>
</div>
</div>
</div>


<div class="container">
  <div class="row"></div>
    <form action="/burgers/create" method="POST">
      <div class="form-group input-form">
        <input type="text" class="form-control col-md-6 text-center" name="burger_name" value="" placeholder="Enter a burger you'd like to eat!">
        <button type="submit" class="btn btn-light">Submit</button>
      </div>
    </form>
  </div>
</div>