.jumbotron {
    text-align: center;
    background-color: darkgoldenrod;
    margin-top: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
  }

  body {
      background-color: burlywood;
  }